main {
    background: rgb(255,156,0);
background: linear-gradient(180deg, rgba(255,156,0,1) 0%, rgba(255,255,0,1) 76%, rgba(0,0,0,1) 79%);
}


.col-md-4 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    button{
        margin-top: 13px;
        margin-bottom: 13px;
    }
}

h2 , h3 , h4 , h5 {
    margin-top:15px; 
    margin-bottom: 15px;

}